---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate } from "@/utils";

interface Props extends IElement {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = true } = Astro.props;
const date = new Date(post.data.publishDate);
const datetime = date.toISOString();
const postDate = getFormattedDate(date);
---

<time datetime={datetime} class="min-w-[120px] text-gray-500">{postDate}</time>
<div>
	<Element class="mb-3">
		<a href={`/posts/${post.slug}/`} class="cactus-link" rel="prefetch">
			{post.data.title}
		</a>
	</Element>
	{withDesc && <q class="mb-5 line-clamp-3 italic">{post.data.description}</q>}
</div>
